.write{
    padding-top: 50px;
}
.writeImg{
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}
.writeForm{
    margin: 10px;
    position: relative;
    border: none;
    border-radius: 10px;
    justify-self: center;

}
.writeFormGroup{
    margin-left: 150px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.writeIcon{
    width: 25px;
    height: 25px;
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    cursor: pointer;
}
.writeInput{
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
    border-bottom: 2px solid gray;

}
.writeInput:focus{
    outline-style: none;
}
.writeText{
    font-size: 20px;
    height: 70vh;
    
}
.writeSubmit{
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;

}

